<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

   <body class="bg-black m-0 p-0 flex justify-center items-center min-h-screen tracking-widest font-poppins">
    <div class="image-section p-10 border border-[#0e066b] shadow-lg rounded-2xl h-[480px] w-[400px] flex justify-center items-end bg-[url('/img/luffy-logo.png')] bg-center bg-no-repeat bg-cover">
    </div>
    <div class="login-section h-[480px] w-[400px] p-10 border border-[#0e066b] shadow-lg rounded-2xl">
      <h1 class="title text-4xl font-bold text-[#00C9FFFF] shadow-md mb-5 text-center">Admin Login</h1>
      <!-- <% if (typeof error !== 'undefined') { %>
        <p class="text-red-500 text-center m-0"><%= error %></p>
      <% } %> -->
      <% if (typeof message !== 'undefined') { %>
        <div class="mb-4 p-3 bg-red-500/20 border border-red-500/50 rounded-lg backdrop-blur-sm">
          <p class="text-red-400 text-sm text-center"><%= message %></p>
        </div>
      <% } %>
      <form class="form-box flex flex-col box-border" method="post" action="/admin/login">
        <div class="input-field relative my-[30px]">
          <input type="email" name="email" id="email" required spellcheck="false" class="peer w-full h-[45px] rounded-md text-xl px-4 border-2 border-white bg-transparent outline-none text-white focus:border-[#23cd48] placeholder-transparent" />
          <label for="email" class="absolute top-1/2 left-4 transform -translate-y-1/2 pointer-events-none transition-transform duration-700 text-white peer-placeholder-shown:translate-y-0 peer-placeholder-shown:text-white peer-focus:-translate-y-9 peer-focus:bg-black peer-focus:px-2 peer-focus:text-[#FFFFF]">Enter Email</label>
        </div>
        <div class="input-field relative my-[20px]">
          <input type="password" name="password" id="password" required spellcheck="false" class="peer w-full h-[45px] rounded-md text-xl px-4 border-2 border-white bg-transparent outline-none text-white focus:border-[#23cd48] placeholder-transparent" />
          <label for="password" class="absolute top-1/2 left-4 transform -translate-y-1/2 pointer-events-none transition-transform duration-700 text-white peer-placeholder-shown:translate-y-0 peer-placeholder-shown:text-white peer-focus:-translate-y-9 peer-focus:bg-black peer-focus:px-2 peer-focus:text-[#FFFFF]">Enter Password</label>
        </div>
        <button type="submit" class="submit-btn w-full h-[40px] border-2 border-black rounded-md bg-gradient-to-r dark:text-gray-300 from-blue-500 to-purple-500 shadow-lg text-white cursor-pointer transition-colors duration-300 text-xl mt-11 hover:scale-105 hover:from-purple-500 hover:to-blue-500">Log in</button>
      </form>
    </div>
    
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>