
<style>
  .relative input:focus + label,
.relative input:not(:placeholder-shown) + label {
  top: -13px; /* Adjust as needed */
  left: -1px; /* Adjust as needed */
  font-size: 16px; /* Adjust as needed */
  color: #fbbf24; /* Change to your desired color */
  background-color: black; /* Add background color */
  padding: 0 4px; /* Add padding to the label */
  z-index: 1; /* Ensure the label is above the input */
}
</style>
  
  <%- include('../partials/header.ejs') %>
  
  <div class="min-h-screen flex items-center justify-center bg-black">
    <div class="bg-black bg-opacity-10 p-8 mb-6 rounded-xl max-w-md w-full">
      <div class="w-full max-w-sm p-8 backdrop-filter backdrop-blur-sm bg-black bg-opacity-50 rounded-2xl shadow-2xl border border-white/10">
        <h2 class="text-4xl p-2 font-bold text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-red-600 mb-8 text-center">Email OTP Verification</h2>
        
        <div id="timer" class="text-center text-yellow-400 mb-4"></div> <!-- Timer display -->
        
        <!-- flash message  -->
        <%- include('../partials/flashMessage.ejs') %>
        
  
        <form action="/password/verify-otp" method="POST" class="space-y-6">
         
          <div class="relative">
            <input type="password" id="otp" name="otp" placeholder=" " class="block w-full px-2 py-2 bg-transparent text-white border border-gray-300 rounded-lg focus:outline-none focus:border-orange-500 placeholder:text-transparent transition duration-300">
            <label for="otp" class="absolute left-2 top-2 ml-2 text-white transition-all duration-300 transform origin-left scale-75 pointer-events-none">Enter OTP</label>
            <button type="button" id="toggleVerifyOtp" class="absolute right-2 top-2 text-orange-500">
              <span class="material-icons" id="verifyEyeIcon">visibility</span>
            </button>
          </div>
          <button type="submit" class="styled-btn w-full py-2 px-2 tracking-wider transform hover:scale-105">
            Verify OTP
          </button>
        </form>
        <form action="/password/resend-otp" method="POST">
          <div class="mt-4 text-center">
            <p class="text-sm text-gray-400">Didn't receive the OTP?</p>
                                                      
            <button type="submit" class="text-sm text-yellow-400 hover:text-yellow-300 focus:outline-none">
              Resend OTP
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
    <%- include('../partials/footer.ejs') %>
   
  
    <script>
  
      // Timer setup
    let timeLeft=120;                                                                             //set time left to 120 seconds
    function updateTimer() {                                                                      //function to update timer
      const timerDisplay=document.getElementById('timer')                                         //get timer display
      if(timeLeft<=0){
        clearInterval(timeInterval)                                                               //clear interval
        timerDisplay.innerHTML='The OTP has expired.Please request a new One'                       //set timer display
        document.getElementById('otp').disabled=true;                                               //disable otp input
  
      }else{
      //   const minutes = Math.floor(timeLeft / 60);
      // const seconds = timeLeft % 60;
        timerDisplay.innerHTML='The OTP will expire in ' + timeLeft + ' seconds';                   //set timer display
        timeLeft--;                                                                                 //decrement time left
      }
    }
    const timeInterval=setInterval(updateTimer,1000)                                                //call updateTimer function every second

    // toggle otp visibility
    const toggleVerifyOtp = document.getElementById('toggleVerifyOtp');
    const otpInputs = document.getElementById('otp');
    const verifyEyeIcon = document.getElementById('verifyEyeIcon');

    toggleVerifyOtp.addEventListener('click', function () {
      const type = otpInputs.getAttribute('type') === 'password' ? 'text' : 'password';
      otpInputs.setAttribute('type', type);
      verifyEyeIcon.textContent = type === 'password' ? 'visibility' : 'visibility_off';

      if (type == 'text') {
        otpInputs.classList.add('border-orange-500');
      }
    });
    </script>
  